.card {
    text-align: left;
    border-radius: 2%;
    background-color: white;
    @media only screen and (min-width: 1640px) {
        height: 350px;
    }
    margin: .5rem;
    padding: 1rem;
    height: 650px;
    width: 500px;
    box-shadow: 0px 2px 4px rgba(173, 173, 173, 0.2);
    p {
        margin: 1px;
    }
    img {
        margin-top: 1rem;
        max-height: 500px;
        display: block;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.46);
        border-radius: 2%;
        @media only screen and (min-width: 1640px) {
            margin-right: 0;
            max-width: 100%;
            margin-top: auto;
            margin-bottom: auto;
            max-height: 170px;
            width: auto;
        }
    }
}