body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(255, 231, 254, 0.077), rgba(110, 190, 190, 0.104));
    #root {
        margin: 0rem;
        header {
            text-align: center;
        }
        .searchBar {
            text-align: center;
        }
        .display-Books {
            justify-content: center;
            display: flex;
            min-width: 100%;
            flex-wrap: wrap;
        }
    }
}
